.service_2_cnt{
    width: 100%;
    height: 90vh;
    
    display: flex;
    padding: 30px 0px;
   
   
}


.left_cnt{
    /* width: 50%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 60px;
    text-align: left; */

    width: 50%;
    height: 100%; /* 100% of viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  
    padding: 20px 30px;
    
}
.left_cnt p{

    font-size: 25px;
    margin-bottom: 20px;
}

.right_cnt{
    width: 50%;
  
   
    height: 100%;
    padding: 20px 5px;
    align-items: center;
    text-align: center;
    justify-content: center;
   overflow-y: scroll;
   overflow-x: hidden;
   
   padding: 10px 20px;
   
   
 

}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}



.imageContener{

    height: 100%;
    width: 100%;
  
    
    

}

.imageContener Image{

    width: 100%;
    height: 100%;
    background-size: cover;


}

.box {
    width: 50%;
    height: 100vh; /* 100% of viewport height */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    box-sizing: border-box;
    border: 2px solid black;
  
    
 
  }
  
  .text {
   
    text-align: left;
    font-size: 30px;
  }
  
  .imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
    
   
  }
  
  .image {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .lineup{
    width: 100%;
    height: 30px;
 
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    
    
    text-align: left;
    
    
  }
  .lineup P{

    font-size: 11px;
  }
  .linesd{
    width: 75%;
    height: 2px;
    background-color: black;
    margin-left: 40px;
  }

  @media screen and (min-width:700px ) and (max-width:900px){
 

      .service_2_cnt{
          width: 100%;
  
          height: 100vh !important;
       
          display: flex;
          flex-direction: column;
         
      }
      .left_cnt{
          /* width: 50%;
          height: 100%;
          border: 2px solid black;
          display: flex;
          flex-direction: column;
          align-items: left;
          justify-content: center;
          padding-left: 60px;
          text-align: left; */
      
          width: 100%;
          height: 50%; /* 100% of viewport height */
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          box-sizing: border-box;
          padding: 10px;
   
        }
  
        .left_cnt h1{
  
          font-size: 20px;
          margin-bottom: 20px;
      }
  
  
      .right_cnt{
          /* width: 50%;
          height: 100%;
          border: 2px solid black;
          display: flex;
          flex-direction: column;
          align-items: left;
          justify-content: center;
          padding-left: 60px;
          text-align: left; */
      
          padding: 20px 5px;
          width: 100%;
          height: 50%; /* 100% of viewport height */
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          box-sizing: border-box;
          padding: 10px 10px;
          overflow-y: scroll;
      }
  
  
  
      .box {
        width: 100%;
       
        
      }
    
      .imageContainer {
        width: 90%;
        height: 90%;
      }
      .lineup{
        width: 100%;
        height: 60px;
     
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        margin-bottom: 10px;
        
        padding-left: 20px;
        
        
        text-align: left;
        
        
      }
      .lineup P{
    
        font-size: 15px;
      }
      .linesd{
        width: 75%;
        height: 2px;
        background-color: black;
        margin-left: 40px;
      }
    
  }
  
 
  
  .show_service{

     width: 96%;
     height: 40px;
     border-top: 2px solid rgb(248, 121, 71);
     border-bottom: 1px solid rgb(248, 121, 71);
     
     justify-content: center;
     display: flex;
     justify-content: space-between;
     text-align: left;
     align-items: center;
     padding-left: 2px;
     padding-right: 2px;
     transition: font-size 0.3s ease; /* Smooth transition effect */
     cursor: pointer;

  }
  .show_service :hover{
    font-size: 1.4em !important; /* Increase text size on hover */
  }

  .arrow{

    font-size: 30px;
  }

  @media (max-width: 700px) {
    .imageContainer {
      width: 90%;
      height: 90%;
    }

    .service_2_cnt{
        width: 100%;
        height: 100vh;
       
        display: flex;
        flex-direction: column;
        box-shadow: 2px 2px 1px 1px rgba(42, 39, 39, 0.758);
        box-shadow: 1px 1px 2px 2px rgba(42, 39, 39, 0.758);
       
    }
    .left_cnt{
        /* width: 50%;
        height: 100%;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        padding-left: 60px;
        text-align: left; */
    
        width: 100%;
        height: 50%; /* 100% of viewport height */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;
        padding: 10px;
      
    }
    .left_cnt h1{

      font-size: 25px;
      margin-bottom: 20px;
  }
    .right_cnt{
        /* width: 50%;
        height: 100%;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        padding-left: 60px;
        text-align: left; */
    
        width: 100%;
        height: 50%; /* 100% of viewport height */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;
        padding-top: 30px  !important;
        overflow-y: scroll;
    }
    .lineup{
      width: 100%;
      height: 60px;
   
      
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: left;
      margin-bottom: 10px;
      
      padding-left: 20px;
      
      
      text-align: left;
      
      
    }
    .lineup P{
  
      font-size: 15px;
    }
    .linesd{
      width: 75%;
      height: 2px;
      background-color: black;
      margin-left: 40px;
      margin-left: 39px;
    }
  }
  