nav{
    height: 100px;
}
.menuItem_container{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none ;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    z-index: 2;
    transition: all 0.5s ease;
    animation: navClose 0.5s  ease;
    color: #fff;
}

.menuItem_container.open{
    transform: translateY(0);
    display: flex;
    transition: all 0.5s ease;
    animation: navOpen 0.5s  ease;
}

@keyframes navOpen {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
    
}

@keyframes navClose {
    0% {
        transform: translateY(0);
        display: flex;
    }
    100% {
        transform: translateY(-100%);
        display: none;
    }
    
}

.nav_container .logo_container{
    padding: 1rem;
}

.menuItem_container ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 50%;
}

.menuItem_container ul a {
    margin: 10px 0;
    font-size: 3rem;
    width: 100%;
    text-align: center;
}

.menuItem_container ul a:hover li{
    transition: all 0.5s ease;
    color: #f1f1f1;
    cursor: pointer;
    border-bottom: 10px solid var(--saffron-color);
    position: relative;
    text-shadow: 3px 0px 0px var(--saffron-color);
    scale: 1.5;
}
/*
.menuItem_container ul a:hover li::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.5s ease-in-out;
} 
*/

.nav_container .nav-button{
    position: absolute;
    right: 2%;
    top: 2%;
    z-index: 10;
    cursor: pointer;
   
}

.nav_container .menu-button-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    ;
}

.nav_container .menu-btn-icon {
    font-size: 2rem;
}

.nav_container.open{
    display: flex;
}
.nav-button .menu-button-box{
    background-color: black;
}
.nav-button.open .menu-button-box{
    background-color: black;
}

.menu-text{
    margin-right: 10px;
    transition: all 0.5s ease-in-out;   
    font-size: 2rem;
    color: #fff;
 
}
.open{
   display: flex;
}
.menu-btn-icon.open{
}
.menu-btn-icon.open .menu-icon-line-1{
    background-color: tomato    ;
    transform-origin: left ;
    transform: rotate(45deg) translateY(2px);
    width: 100%;
}



.nav-button.open .menu-text{
    margin-right: 0;

}

.menu-btn-icon.open .menu-icon-line-2{
    background-color: tomato    ;
    transform: rotate(-45deg) translateY(-2px);
    width: 100%;
}


/*  */

.burger {
    cursor: pointer;
    font-size: 30px;
    color: white;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; /* Initially hidden */
    position: absolute;
    top: 50px; /* Adjust based on your design */
    left: 0;
    background-color: #444;
    width: 100%;
    transition: max-height 0.5s ease, opacity 0.5s ease; /* Transition for animation */
    max-height: 0; /* Start with max-height 0 */
    opacity: 0; /* Start with opacity 0 */
    overflow: hidden; /* Hide overflow */
}

.menu.active {
    display: block; /* Make it block when active */
    max-height: 500px; /* Set a max-height for the transition */
    opacity: 1; /* Fade in */
}
.menu li {
    padding: 15px;
    text-align: center;
}

.menu li a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width:800px) {
   
    .nav_container .nav-button{
        
        right: 2%;
      
       
        top: 2%;
        z-index: 10;
        cursor: pointer;
        
       
    }

    .menuItem_container ul {
        width: 100%;
        
    }
    .nav_container .menu-text{
        font-size: 1.5rem;
    }
    
}