:root{
    --emoji1-y: 152px;
    --emoji2-y: 280px;
    --emoji1-x: -506px;
    --emoji2-x: 486px;
    --line-y: 112px
}
.home_section{
    height: 150vh;
}
.headline{
    text-align: center;
    animation: headlineFadeUp 1s ease-in-out;
    transform: translateY(35%);

}

.home_section   .line{
    position: absolute;
    transform: translate(5px, var(--line-y));

}

.emoji{
    position: absolute;
}

.emoji1{
    transform: translate(var(--emoji1-x), var(--emoji1-y));                            
                         
}
.emoji2{
    transform: translate(var(--emoji2-x), var(--emoji2-y));                            
}

.swiper-wrapper{
    transform: translateY(35%);
}

@keyframes headlineFadeUp {
    0% {
        opacity: 0;
        transform: translateY(150%);
    }
    80% {
        opacity: 0.5;
        transform: translateY(20%);
    }
    100% {
        opacity: 1;
        transform: translateY(35%);
    }
}    
