:root{
    --emoji1-y: 165px;
    --emoji2-y: 292px;
    --emoji1-x: -509px;
    --emoji2-x: 485px;
    --line-y: 130px
}
.home_section{
    height: 150vh;
}
.headline{
    text-align: center;
    animation: headlineFadeUp 1s ease-in-out;
    transform: translateY(35%);

}

.home_section svg{
    width: 100vw;
    }

.home_section   .line{
    position: absolute;
    transform: translate(5px, var(--line-y));

}

.emoji{
    position: absolute;
}

.emoji1{
    transform: translate(var(--emoji1-x), var(--emoji1-y));                            
                         
}
.emoji2{
    transform: translate(var(--emoji2-x), var(--emoji2-y));                            
}

.swiper-wrapper{
    transform: translateY(35%);
}

@keyframes headlineFadeUp {
    0% {
        opacity: 0;
        transform: translateY(150%);
    }
    80% {
        opacity: 0.5;
        transform: translateY(20%);
    }
    100% {
        opacity: 1;
        transform: translateY(35%);
    }
}    


@media screen and (max-width: 1500px) {
    .home_section {
      /* transform: scale(0.65) translateY(-30%); */
      width: 100vw;
      transform: scale(0.8) translateY(-10%);
      position: relative;
    }
    .home_section .headline .headline_tagline{
        font-size: 1.75rem;
        line-height: 2rem ;
        }
    
   
    .home_section .swiper-wrapper {
        width: 150vw;
        left: 0;
        /* position: absolute; */
    }
    .home_section .swiper-wrapper img{
        width: 100%;
        max-width: 150vw;
        left: 0;
    }
  }

 

@media screen and (max-width: 1280px) {
.home_section{
    /* height: 120vh; */
    transform: scale(0.7) translateY(-20%);
    height: fit-content;

}
.home_section .emoji1{
    transform: translate(-116px, 209px);                       
}
.home_section .emoji2{
    transform: translate(295px, 466px);
}
.home_section .swiper-wrapper{
    width: 180vw;
}  
.home_section .swiper-wrapper img{
    max-width: 180vw;
}  
}

/* when viewport less than 820px */
@media screen and (max-width: 820px) {
    .home_section{
        height: 100vh;
        transform: scale(0.6) translateY(-35%);
    }
    .home_section .headline .headline_tagline{
        font-size: 2.25rem;
        line-height: inherit;
    
    }
    .home_section .swiper-wrapper{
        width: 200vw;
    }
    .home_section .swiper-wrapper img{
        max-width: 200vw;
    }
    .home_section .emoji1{
        transform: translate(-116px, 252px);
    }
    .home_section .emoji2{
        transform: translate(295px, 508px);
    }
}

/* when viewport less than 768px */
@media screen and (max-width: 720px) {
    .home_section{
        transform: scale(0.5) translateY(-45%);
    }
  
    
    .home_section .headline_tagline{
        font-size: 3rem;
        line-height: inherit;
    
    }
    .home_section .swiper-wrapper{
        width: 230vw;
    }
    .home_section .swiper-wrapper img{
        max-width: 230vw;
    }
}

/* when viewport less than 608px */
@media screen and (max-width:600px) {
    .home_section{
        transform: scale(0.4) translateY(-60%);
        height: fit-content;
    }

    .home_section .swiper-wrapper{
        width: 370vw;
    }
    .home_section .swiper-wrapper img{
        width: 100%;
        max-width: 370vw;
    }
}


 
/* when viewport less than 500px */
@media screen and (max-width:500px) {
    .home_section{

        transform: scale(0.32) translateY(-80%);
        height: 100vh;
    }
    .home_section .headline .headline_tagline{
        font-size: 3rem;
        line-height: inherit;
    }
    .home_section .emoji1{
        transform: translate(-116px, 326px);
    }
    .home_section .emoji2{
        transform: translate(295px, 583px);
    }
}

/* when viewport less than 500px */
@media screen and (max-width:400px) {
    .home_section{

        transform: scale(0.28) translateY(-80%);
        height: 100vh;
    }
}
