.offer2_section{
    height: 100vh;
    width: 100vw;
    /* background-color: antiquewhite; */

}

.offer2_section .service_cnt{
}

.offer2_section .service-btn{
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    padding: 10px 20px;
    background-color: var(--saffron-color);
    /* color: #fff; */
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    align-items: center;
    transform: translateX(12%);
}


.offer2_section .service-card{
    border-top: none;
    border-left: none;
    transition: all 1s ease;
    animation: fadeup 1s ease;
}

@keyframes fadeup {
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
    
}

.service_cnt{
    border-left: 1px solid black;
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .service_title{
    position: relative;
    width: fit-content;
    margin-top: 2rem;
  }

.service_title::before{
    content: '02';
    display: block;
    width: 50px;
    position: absolute;
    font-size: 1.2rem;
    height: 100%;
    color: var(--saffron-color);
    right: 0;
    transform: translate(50px, -50%);
    text-align: right;
}  



.service_description {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 1rem;
  
}
@media screen and (max-width: 1024px) {
    .offer2_section{
        width: 100%;
        justify-content: space-around;
    }
    .offer2_section .heading_cnt{
        text-align: right;
    }

}
/* when viewport less than 820px */
@media screen and (max-width: 820px) {
    .offer2_section{
        display: flex;
        flex-direction: column;
        width: 100vw;
        padding-top: 20px;
    }
    .offer2_section .service-btn{
        transform: none;
        display: flex;
        flex-wrap: nowrap;
        margin: 0;
    }
    .service_cnt{
        width: 100%;
        margin-top: 10px;
    }
    .offer2_section .heading_cnt{
        text-align: center;
    }
  }


  @media screen and (max-width:468px) {
    .offer2_section .service-btn{
    }
  }