.firstPageWrapper{
    display: flex;
    flex-direction: row;
    height: 70vh;
    padding: 2vh;
    width: 98vw;
    align-items: center;
    justify-content: space-between;
}
.textBox{
    padding-left: 2vw;
    height: 60vh;
    width: 55vw;
}
.firstHeadline{
    text-wrap: nowrap;
    line-height: 60px;
    font-size: 3rem;
    font-weight: 600;
    font-family: sans-serif;
}
.topRow{
    color: black;
}
.bottomRow{
    color: rgb(255, 81, 0);
}
.topPara{
    line-height: 20px;
    font-size: 15px;
    font-family: sans-serif;
    color: #808080;
}
.animationResizer{
  margin-top: -10vh;
}
.animBox{
    height: 74vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: -1;
    justify-content: flex-start;
}

.secondPageWrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;

}
.secondTextBox{
    height: 165px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secondHeadline{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 3rem;
    font-weight: 600;
    gap: 15px;
    line-height: 50px;
}

.secondHeadFirst{
    color: black;
}
.secondHeadSecond{
    color: rgb(255, 81, 0);
}
.widthFixer{
    width: 80%;
}
.cardContainer {
    background-image: url('./photos/Vector\ 456.svg');
    background-size: 100%;
    display: flex;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    width: 98vw;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    row-gap: 25px;
    margin-top: 2vh;    
  }

  .cardGrid{
    height: 400px;
    width: 300px;
    border-radius: 2vh;
    border: 1px #FD5A1E solid;
    background-color: #FFF8F8;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ringOne{
    margin-top: 10px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF7542;
  }
  .ringTwo{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF7542;


  }
  .ringThree{
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
  .cardUpperHalf{
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .memberName{
    font-family: sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;

  }
  .memberPost{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    height: 60px;
    width: 250px;
    border-radius: 3vh;
    font-weight: 400;
    font-size: 18px;
    color: white;
    background-color: #FF4500;
  }
  .hrGradLine{
    width: 90%;
    height: 0.1rem;
    background-image: linear-gradient(to right, #ffffff 0%, #f5aa64 20%, #ff723a 40%, #ff682d 60%, #f5aa64 80%, #ffffff 100%);
  border: none;
  }
  .DivForSocialRefs{
    width: 70%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }
  .buttonDiv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .socialBtns{
    border-radius: 50%;
    height: 65px;
    width: 65px;
    background-color: #FF7542;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .socialBtns:hover{
    background-color: #ff5111;
  }



  @media (max-width: 1024px) {
    .firstPageWrapper{
      margin-bottom: -20vh;
    }
    .animationResizer{
      margin-top: 20vh;
    }
    .cardContainer{
      row-gap: 25px;
    }
    .cardGrid{
      width: 290px;
    }
  }


  @media (max-width: 770px) {
    .animationResizer{
      margin-top: 20vh;
    }
    .cardContainer{
      row-gap: 15px;
    }
  }



  @media (max-width: 630px) {
    .firstPageWrapper{
      flex-direction: column;
      margin-bottom: -10vh;
      width: 100vw;
      padding: 0;
      justify-content: center;
      align-items: center;

    }
    .animationResizer{
      margin-top: -3vh;
    }
    .secondPageWrapper{
      margin-top: -14vh;
    }
    .textBox{
      width: 100%;
      padding-left: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  .cardContainer {
    width: 99vw; 
  }
  .cardGrid{
    height: 280px;
    width: 180px;
  }

  .topPara{
    font-size: 15px;
    line-height: 18px;
    width: 90%;
  }
  .secondHeadline{
    font-size: 6vw;
    gap: 10px;
}
.firstHeadline{
    font-size: 2rem;
    line-height: 2.2rem;
    align-self: flex-start;
    width: 90%;
    align-self: center;
}
.DivForSocialRefs{
  width: 80%;
  justify-content: space-between;
}
.socialBtns{
  height: 5vh;
  width: 5vh;
}
.ringOne{
  height: 100px;
  width: 100px;
}
.ringTwo{
  height: 80px;
  width: 80px;
}
.ringThree{
  height: 60px;
  width: 60px;
}
.memberPost{
  margin-bottom: 20px;
  height: 45px;
  width: 160px;
  font-size: 16px;
}

.animBox{
  position: relative;
}
.cardContainer{
  row-gap: 15px;
}
    
}
@media (max-width: 365px) {
  .cardGrid{
    height: 260px;
    width: 160px;
  }
  .socialBtns{
    height: 5vh;
    width: 5vh;
  }
  .ringOne{
    height: 80px;
    width: 80px;
  }
  .ringTwo{
    height: 60px;
    width: 60px;
  }
  .ringThree{
    height: 40px;
    width: 40px;
  }
  .memberPost{
    margin-bottom: 16px;
    height: 40px;
    width: 150px;
    font-size: 14px;
  }
  .cardContainer{
    row-gap: 15px;
  }
  }

  @media only screen and (max-width: 1024px) and (max-height: 600px) {
    .firstPageWrapper{
      margin-bottom: 2vh;
    }
    .animationResizer{
      margin-top: 0;
    }
  }

