.offer1_section{
    height: 100vh;
    width: 100vw;
    background-color: #000;
    color: #fff;
}

 .offer1_text{
    animation: offerText 1s ease;
}


.offer1_img_cnt img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    animation : offerText 1s ease;
    border-radius: 30px;
    margin-top: 7%;

}

@keyframes offerText {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
    
}

