.offer1_section{
    min-height: 100vh;
    height: fit-content;
    width: 100vw;
    background-color: #000;
    color: #fff;
}

 .offer1_text{
    animation: offerText 1s ease;
}


.offer1_img_cnt img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    animation : offerText 1s ease;
    border-radius: 30px;
    margin-top: 7%;

}

@keyframes offerText {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
    
}

@media screen and (max-width:1500px) {
    .offer1_section .offer1_img_cnt{
        min-height: 30vh;
        overflow: hidden;
    }
    .offer1_img_cnt img{
        width: 100%;
        max-height: 50vh;
    
}
}

@media screen and (max-width:1280px) {
    .offer1_section .offer1_img_cnt{
        min-height: 30vh;

        overflow: hidden;
    }
    .offer1_img_cnt img{
        width: 100%;
        max-height: 50vh;
    }
}

/* when viewport less than 468px */
@media screen and (max-width:500px) {
 
    .offer1_section{
        height: 100%;
    }

    .offer1_section .offer1_img_cnt{
       width: fit-content;
    }
    .offer1_img_cnt img{
        /* height: 40vh; */
        width: 100%;
        height: auto;
    }
}


