.crm_section{
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: aquamarine;
}

.first_cnt{
    width: 100%;
    height: 220px;

    display: flex;
    justify-content: flex-start;
   
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}



.first_cnt_left{
    min-width: 500px;
    height: 100%;
    max-width: 40%;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: space-between;	
    align-items: flex-start;
    flex: 1 1 200px;
    
}    


.first_cnt_right{
    width: fit-content;
    height: 100%;
    flex: 1 1 200px;
    background-color: rgb(212, 166, 110);
    display: flex;
    flex-direction: row;

}    

.details_cnt{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb255, 255, 255);
}
.details_cnt:nth-child(1){
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
}

.details_cnt .details_title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem; 
}

.details_cnt .details_desc{
    align-self: center;
    width: 100%;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
}


.details_cnt:nth-child(1) .details_desc{
    align-self: center;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: left;
}



.details_cnt .details_desc .number{
    font-size: 1..5rem;
}